@model Passenger.Models.UserModel

@{
    ViewData["Title"] = "CreateUser";
}

<h4>Register!</h4>
@if (TempData["message"] != null)
{
    <div class="alert alert-success">
        @TempData["regiter"]
    </div>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="user_id" class="control-label">Student ID</label>
                <input asp-for="user_id" class="form-control" />
                <span asp-validation-for="user_id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="user_first_name" class="control-label">First Name</label>
                <input asp-for="user_first_name" class="form-control" />
                <span asp-validation-for="user_first_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user_last_name" class="control-label">Last Name</label>
                <input asp-for="user_last_name" class="form-control" />
                <span asp-validation-for="user_last_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user_email_address" class="control-label">Email</label>
                <input asp-for="user_email_address" class="form-control" />
                <span asp-validation-for="user_email_address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user_password" class="control-label">Password</label>
                <input asp-for="user_password" class="form-control" />
                <span asp-validation-for="user_password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user_gender" class="control-label">Gender</label>
                <input asp-for="user_gender" class="form-control" />
                <span asp-validation-for="user_gender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}